<ion-header>
  <ion-toolbar color="dark">
    <ion-title>A Barraca do Beijo 3 </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content color="dark">
  <ion-card color="dark">
    <ion-card-header>
      <img src="https://www.themoviedb.org/t/p/w220_and_h330_face/rnxc5X7r2KQtkK3ZLuve4Qbvdz.jpg">
    </ion-card-header>
  
    <ion-card-content>
      <h1>A barraca do Beijo 3 -
        <ion-chip color="success"><ion-label>77%</ion-label></ion-chip>
      </h1>
      <p>11/08/2021</p>
    </ion-card-content>
    <ion-item color="dark">
      <ion-badge color="light">Romance</ion-badge>
      <ion-badge color="light">Comédia</ion-badge>
    </ion-item>
  </ion-card>
</ion-content>
