h1{
    font-weight: bold;
    font-size: 1rem;
}
p{
    font-size: 0.9rem;
    margin-top: 15px;
}
ion-badge{
    font-size: 0.7rem;
    font-weight: 300;
    margin-right: 3px;
}
ion-chip{
    width: 50px;
}
img{
    width: 280px;
    margin-left: 15px;
}
ion-title{
    text-align: center;
}