<ion-header>
  <ion-toolbar color="dark">
    <ion-title>Dados do Filme</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="dark">
  <ion-card color="dark">
    <ion-card-header>
      <img src="https://www.themoviedb.org/t/p/w220_and_h330_face/fnAzaxRSiveFafudJtByxA7I2xT.jpg">
    </ion-card-header>
  
    <ion-card-content>
      <h1>Velozes e Furiosos -
        <ion-chip color="success"><ion-label>80%</ion-label></ion-chip>
      </h1>
      <p>28/07/2021</p>
    </ion-card-content>
    <ion-item color="dark">
      <ion-badge color="light">Ação</ion-badge>
      <ion-badge color="light">Crime</ion-badge>
    </ion-item>
  </ion-card>
</ion-content>
