<ion-header>
  <ion-toolbar>
    <ion-title>A Barraca do Beijo 2</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="dark">
  <ion-card color="dark">
    <ion-card-header>
      <img src="https://www.themoviedb.org/t/p/w94_and_h141_bestv2/oUafkafJiFKkXuzROaAY8N9gGq.jpg">
    </ion-card-header>
  
    <ion-card-content>
      <h1>A barraca do Beijo 2 -
        <ion-chip color="success"><ion-label>77%</ion-label></ion-chip>
      </h1>
      <p>24/07/2020</p>
    </ion-card-content>
    <ion-item color="dark">
      <ion-badge color="light">Romance</ion-badge>
      <ion-badge color="light">Comédia</ion-badge>
    </ion-item>
  </ion-card>
</ion-content>
