<ion-header>
  <ion-toolbar color="dark">
    <ion-title>esquadrao</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="dark">
  <ion-card color="dark">
    <ion-card-header>
      <img src="https://www.themoviedb.org/t/p/w220_and_h330_face/wTS3dS2DJiMFFgqKDz5fxMTri.jpg">
    </ion-card-header>
  
    <ion-card-content>
      <h1>O Esquadrão Suicida -
        <ion-chip color="success"><ion-label>80%</ion-label></ion-chip>
      </h1>
      <p>28/07/2021</p>
    </ion-card-content>
    <ion-item color="dark">
      <ion-badge color="light">Ação</ion-badge>
      <ion-badge color="light">Aventura</ion-badge>
      <ion-badge color="light">Comédia</ion-badge>
    </ion-item>
  </ion-card>
</ion-content>
